@import 'reset.css';
@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

:root {
    --color-font: #FFFFFF;
    --color-title: #04061E;
    --color-accent: #0C97CD;
    --bg:#FAFDFF;
    --font-family-main: 'TT Norms Pro', sans-serif;
}

body,
html {
    height: 100%;
}
body{
    background-color: var(--bg);
}

.header {
    height: 100vh;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header__top {
    max-width: 1458px;
    padding-top: 64px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    width: 251px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger-menu {
    width: 62px;
    height: 62px;
    background: var(--color-accent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__languages {
    position: relative;
}

.header__language-select {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-font);
    font-family: var(--font-family-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.header__language-select:focus {
    outline: none;
}

.header__language-select option {
    border-radius: 10px;
    background: var(--color-font);
    box-shadow: 0px 8px 51px 0px rgba(0, 0, 0, 0.15);
    color: var(--color-title);
    width: 54px;
    height: 73px;
}

.header__language-select option:hover {
    color: var(--color-accent);
}

::-ms-expand {
    display: none;
}

.header__info {
    width: 341px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    max-width: 1458px;
    margin: auto;
    padding-top: 238px;
}

.welcome__title {
    color: var(--color-font);
    font-family: var(--font-family-main);
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.welcome__subtitle {
    color: var(--color-font);
    font-family: var(--font-family-main);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.graphic-element{
    position: absolute;
    bottom: 0;
    right: 0;
}